body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card {
  background-color: #6e9cf1 !important;
  min-height: 500px;
}
.game-mode-options {
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-mode-options_middle {
  height: 150px;
  text-align: center;
}

.align-center {
  text-align: center;
}
.circle-Base {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 10px solid white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: -webkit-xxx-large;
}

.game-board-seprator {
  border-top: 5px solid;
}
.rps-base {
  cursor: pointer;
  height: 60px;
  width: 60px;
}

.icon-opacity {
  opacity: 0.2;
}
